<div class="row" ng-controller="ContactsCtrl">
    <div class="col-md-4" ng-show="showAddForm">
        <h3>Add new Contact</h3>
        <form ng-submit="addContact()">
            <div class="form-group">
                <label >Name</label>
                <input type="text" class="form-control" ng-model="name" placeholder="">
            </div>
            <div class="form-group">
                <label >Surname</label>
                <input type="text" class="form-control" ng-model="surname" placeholder="">
            </div>
            <div class="form-group">
                <label >Address</label>
                <input type="text" class="form-control" ng-model="address" placeholder="">
            </div>
            <div class="form-group">
                <label >ZIP numper</label>
                <input type="number" class="form-control" ng-model="zip" placeholder="">
            </div>
            <div class="form-group">
                <label >City</label>
                <input type="text" class="form-control" ng-model="city" placeholder="">
            </div>
            <div class="form-group">
                <label >State</label>
                <input type="text" class="form-control" ng-model="state" placeholder="">
            </div>
            <div class="form-group">
                <label >Phone number</label>
                <input type="text" class="form-control" ng-model="phoneNumber" placeholder="">
            </div>
            <div class="form-group">
                <label >E-mail</label>
                <input type="email" class="form-control" ng-model="email" placeholder="">
            </div>
            
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    
    <div class="col-md-4" ng-show="showEditForm">
        <h3>Edit Contact</h3>
        <form ng-submit="editContact()">
            <div class="form-group">
                <label >Name</label>
                <input type="text" class="form-control" ng-model="name" placeholder="">
            </div>
            <div class="form-group">
                <label >Surname</label>
                <input type="text" class="form-control" ng-model="surname" placeholder="">
            </div>
            <div class="form-group">
                <label >Address</label>
                <input type="text" class="form-control" ng-model="address" placeholder="">
            </div>
            <div class="form-group">
                <label >ZIP numper</label>
                <input type="number" class="form-control" ng-model="zip" placeholder="">
            </div>
            <div class="form-group">
                <label >City</label>
                <input type="text" class="form-control" ng-model="city" placeholder="">
            </div>
            <div class="form-group">
                <label >State</label>
                <input type="text" class="form-control" ng-model="state" placeholder="">
            </div>
            <div class="form-group">
                <label >Phone number</label>
                <input type="text" class="form-control" ng-model="phoneNumber" placeholder="">
            </div>
            <div class="form-group">
                <label >E-mail</label>
                <input type="email" class="form-control" ng-model="email" placeholder="">
            </div>
            
            <button type="submit" class="btn btn-default">Save edit</button>
        </form>
    </div>
    
    <div class="col-md-8">
        <form class="navbar-form navbar-right">
            <div class="form-group">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
         <h3>Contacts</h3>
         <table class="table table-striped">
             <thead>
                 <tr>
                     <th>Name</th>
                     <th>Surname</th>
                     <th>Address</th>
                     <th>ZIP code</th>
                     <th>City</th>
                     <th>State</th>
                     <th>Phone number</th>
                     <th>e-mail</th>
                     <th></th>
                 </tr>
             </thead>
             <tbody>
                 <tr ng-repeat="contact in contacts | filter:searchText">
                     <td>{{contact.name}}</td>
                     <td>{{contact.surname}}</td>
                     <td>{{contact.address}}</td>
                     <td>{{contact.zip}}</td>
                     <td>{{contact.city}}</td>
                     <td>{{contact.state}}</td>
                     <td>{{contact.phoneNumber}}</td>
                     <td>{{contact.email}}</td>
                     <td>
                         <a class="btn" ng-click="deleteContact(contact)">
                         <i class="glyphicon glyphicon-trash"/></a>
                     </td>
                     <td>
                         <a class="btn" ng-click="showEditContact(contact)">
                         <i class="glyphicon glyphicon-pencil"/></a>
                     </td>
                     
                 </tr>
             </tbody>
             
         </table>
    </div>
</div>
